/*============================= 
* 
* Portfolio Concept Page CSS
*
* version 1.0.0
* author: Alexandra Batrak
* licence: MIT
*
*=============================*/

:root {
  /* palette */

  --white:    #F0F0F4;
  --light:    rgb(225, 207, 207);
  --beige:    rgb(128, 115, 116);
  --medium:   rgb(95, 77, 81);
  --dark:     rgb(38, 12, 12);
  --accent:   rgb(161, 128, 131);
  --accent-rgb: 161, 128, 131;
  --dark-rgb:   38, 12, 12;


  /* typography */
  --base-size: 16px;
  --base-font: 'Archivo', Arial, sans-serif;
  --accent-font: 'Elsie', display;

  /* other */
  --b-shadow: rgba(var(--accent-rgb), .7) 0 0 20px 0px;
  --transition: all .5s ease-in-out;
}

/*=======================
* General
========================*/
html {
  scroll-behavior: smooth;
  scrollbar-color: var(--light) var(--accent); /* fallback for non-webkit browsers */
}

/* scrollbar modifications */
::-webkit-scrollbar-track {
  height: 12.5px;
  background: var(--light);
}

::-webkit-scrollbar {
  width: 12.5px;
  height: 12.5px;
  background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::selection {
  color: var(--dark);
  background: var(--light);
}

* {
  box-sizing: border-box;
}

body {
  font: var(--base-size)/1.5 var(--base-font);
  color: var(--dark);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--dark);
  font-weight: 700;
}

/* Backgrounds */
.bg-image {
  background-position: top;
  background-size: cover;
}

.bg-image.bg-overlay {
  position: relative;
}

.bg-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( var(--accent-rgb), 0.5 );
  opacity: 1;
  transition: all .2s ease-in-out;
}

/*=======================
* Header
========================*/
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  z-index: 1;
}

.logo-title-wrapper {
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
  color: var(--white);
  background: var(--accent);
  border-radius: 0 0 .5rem 0;
  text-transform: lowercase;
  font-family: var(--accent-font);
}

.logo-title-wrapper h1 {
  transition: var(--transition); /* for smooth on-hover effect */
  animation: text-glow 6s linear infinite;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 90%;
  padding: 0 1rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

nav ul li {
  display: inline-block;
  font: 400 1.25rem var(--accent-font);
  text-transform: lowercase;
}

nav ul li a, 
.contact ul li a {
  margin: 0 .5rem;
  text-decoration: var(--accent) wavy underline;
  transition: border .2s linear;
}

nav ul li a:hover, 
nav ul li a:focus,
.contact ul li a:hover, 
.contact ul li a:focus {
  text-decoration-color: var(--light);
}

/*=======================
* Hero section
========================*/
.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 500px; /* fallback for vh */
  height: 30vh;
  background-image: url( "../images/02-hero-bg.jpg" );
}

.hero-banner-text {
  display: flex;
  position: relative;
  height: 4rem;
  padding: 1rem 4.5rem 1rem 1.5rem;
  background: var(--accent);
  border-radius: .5rem 0 0;
  font-family: var(--accent-font);
  text-transform: lowercase;
  overflow: hidden;
  z-index: 1;
}

.hero-banner-text .anmt-words {
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;

}

.hero-banner-text .anmt-words span {
  display: block;
  animation: words 5s linear infinite;
}

/* hide text visually #credits to WordPress */
.s-r-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/*=======================
* Main
========================*/
main {
  max-width: 1140px;
  margin: auto;
}

.page-section {
  display: flex;
  flex-direction: row;
}

.section-title {
  display: flex;
  flex-basis: 25%;
  justify-content: flex-end;
  margin: 1.75rem .75rem;
  padding: .325rem 1rem .325rem .325rem;
  border-right: .25rem solid var(--accent);
  font: 2rem var(--accent-font);
  text-transform: lowercase;
}

.section-title h2 {
  position: relative;
}

.section-title::before,
.section-title h2::before,
.section-title h2::after {
  content: '';
  width: .25rem;
  height: .25rem;
  position: absolute;
  margin-top: .5rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.section-title h2::before {
  width: .35rem;
  height: .35rem;
  left: 0;
  animation: floating-2 3s linear infinite;
}

.section-title h2::after {
  width: .25rem;
  height: .25rem;
  left: 5%;
  animation: floating-1 3s linear infinite;
}

.section-title::before {
  width: .125rem;
  height: .125rem;
  animation: floating-3 3s linear infinite;
}

.section-content {
  flex-basis: 75%;
  margin: 1.75rem .75rem;
}

/* Section: ABOUT */

.about .section-content {
  display: flex;
  flex-direction: row;
}

.about-text-wrapper, 
.about-team-wrapper {
  margin: 1rem 1.5rem 1rem 0.75rem;
}

.about-text-wrapper {
  flex-basis: 60%;
}

.about-text-wrapper h3:first-child i:last-of-type {
  font-size: .77rem;
  position: relative;
  top: -.25rem;
  transform: rotate(345deg);
}

.about-text-wrapper p {
  margin: 1rem 0;
}

.about-text-wrapper ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.about-text-wrapper ul li {
  display: inline-block;
  margin: .5rem;
  color: var(--accent);
}

.team-member {
  position: relative;
  margin: 1rem .75rem;
}

.team-member h4 {
  margin-top: -2rem;
  padding: .5rem;
  width: fit-content;
  background: var(--light);
  border-radius: .5rem .5rem 0 0;
  font: 700 1.25rem var(--accent-font);
  text-transform: lowercase;
}

.team-member p {
  border-top: .125rem solid var(--light);
  font-style: italic;
}

.profile-pic {
  width: 150px;
  height: 150px;
  position: relative;
  border: .05rem solid white;
  overflow: hidden;
  z-index: -1;
}

.profile-pic img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
}

#koopa.profile-pic {
  border-radius: 68% 40% 43% 64% / 54% 38% 48% 50%;
  animation: blob-1 4s infinite;
}

#kevin.profile-pic {
  border-radius: 64% 51% 63% 48% / 58% 40% 75% 58%;
  animation: blob-2 4s infinite;
}

/* Section: WORK */
.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  display: flex;
  align-items: flex-end;
  flex-basis: calc( 50% - 1rem );
  position: relative;
  min-height: 150px;
  margin: .5rem;
  border: .375rem solid var(--light);
  text-decoration: none;
  overflow: hidden;
}

.project.bg-overlay::after {
  opacity: 0.5;
}

.project, .project article {
  border-radius: 1rem;
}

/* Smaller border-radius for overlay to avoid gaps between border and ::after */
.work .bg-overlay::after {
  border-radius: .5rem;
}

/* Default .project-description styles for non-hover devices */
.project article {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.project-title, 
.project-description {
  margin-bottom: .5rem;
  padding: .5rem;
  background: var(--light);
  border-radius: 0 .5rem .5rem 0;
  transition: var(--transition);
  z-index: 1;
}

.project-title {
  margin-bottom: -1px;
  border-radius: 0 .5rem 0 0;
}

.project-description {
  color: var(--light);
  background: rgba( var(--dark-rgb), .5);
}

.project-title h3 {
  font-size: 1.25rem;
}

.project-title p {
  margin: 0;
  color: var(--medium);
}

.project .link-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--white);
  z-index: 3;
}

#project-1 {
  background-image: url( "../images/02-portfolio-1.jpg" );
}

#project-2 {
  background-image: url( "../images/02-portfolio-2.jpg" );
}

#project-3 {
  background-image: url( "../images/02-portfolio-3.jpg" );
}

#project-4 {
  background-image: url( "../images/02-portfolio-4.jpg" );
}

#project-5 {
  background-image: url( "../images/02-portfolio-5.jpg" );
}

/* Section: CONTACT */
.contact .section-content {
  display: flex;
  align-items: center;
}

.contact .section-content ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contact .section-content ul li {
  display: inline-block;
  margin: .15rem;
}

.contact .section-content ul li:nth-child(n+3) {
  font-size: 1.25rem;
}

.contact .section-content ul li a:hover i,
.contact .section-content ul li a:focus i {
  color: var(--accent);
}
/*=======================
* Footer
========================*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.75rem 0;
  font-weight: bold;
  font-size: .77rem;
}

/*=======================
* Animation
========================*/
@keyframes text-glow {
  0%, 100% {
    text-shadow: 0 0 15px rgba(255, 255, 255,.7);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255,.9);
  }
}

@keyframes floating-1 {
  0%, 100% { 
    background: var(--accent);
    z-index: 0;
  }
  25% {
    transform: translate(-10px, -5px);
  }
  50% {
    width: .5rem;
    height: .5rem;
    background: var(--beige);
    z-index: 2;
  }
  75% {
    transform: translate(0px, 0px);
  }
}

@keyframes floating-2 {
  0%, 100% {
    width: .5rem;
    height: .5rem;
    background: var(--accent);
  }
  25% {
    transform: translate(20px, 0px);
  }
  50% {
    background: var(--beige);
  }
  75% {
    transform: translate(-15px, -5px);
  }
}

@keyframes floating-3 {
  0%, 100% {
    background: var(--accent);
  }
  25% {
    transform: translate(-115px, 25px);
  }
  50% {
    width: .3rem;
    height: .3rem;
    background: var(--beige);
  }
  75% {
    transform: translate(55px, -12.5px);
  }
}

@keyframes blob-1 {
  0%, 100% { 
    border-radius: 68% 40% 43% 64% / 54% 38% 48% 50%;
    box-shadow: var(--b-shadow);
  }
  25%, 75% {
    box-shadow: 0 0 1px white;
  }
  50% { 
    border-radius: 54% 58% 60% 44% / 78% 60% 68% 34%;
  }
}

@keyframes blob-2 {
  0%, 100% { 
    border-radius: 64% 51% 63% 48% / 58% 40% 75% 58%;
    box-shadow: 0 0 1px white;
  }
  50% { 
    border-radius: 58% 40% 61% 35% / 60% 70% 28% 31%;
    box-shadow: var(--b-shadow);
  }
}

@keyframes words {
  0%, 20% { 
    transform: translateY(0);
  }
  20%, 75% { 
    transform:  translateY(-99%); /* shifted in mobile view for some reason */
  }
  90%, 100% { 
    transform: translateY(-204%);
  }
}

/*=======================
* @media
========================*/
@media only screen and (min-width: 768px) { 
  .project:first-of-type {
    min-height: 300px;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    position: static;
    padding: 0 .75rem;
    background: var(--accent);
  }

  .logo-title-wrapper {
    padding: 1rem .5rem 0;
  }

  nav {
    max-width: 100%;
    align-items: flex-start;
    padding: 0;
  }

  .logo-title-wrapper, 
  nav {
    flex: 0 0 100%;
    justify-content: flex-start;
  }

  .hero-banner {
    justify-content: flex-start;
  }

  .hero-banner-text {
    border-radius: 0 .5rem 0;
  }

  .page-section {
    flex-direction: column;
  }

  .section-title, 
  .section-content {
    flex: 0 0 100%;
    justify-content: flex-start;
  }

  .section-title {
    margin: .75rem;
    border-right: none;
    border-bottom: .375rem solid var(--accent);
  }
  
  .project {
    flex: 0 0 100%;
    margin: .5rem 0;
    height: 300px;
  }
}

@media only screen and (min-width: 576px) {
  .about-team-wrapper h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 575.999px) {
  .about .section-content {
    flex-direction: column;
  }

  .contact .section-content ul,
  .contact .section-content ul li:not(:nth-child(n+3)) {
    display: block;
  }
}

@media only screen and (min-width: 425px) and (max-width: 575.999px) {
  .team-member-wrapper {
    display: flex;
  }
}

@media (any-hover: hover) {
  /* pause logo animation on hover */
  .logo-title-wrapper h1:hover {
    animation-play-state: paused;
  }

  .about-text-wrapper ul li:hover {
    color: var(--dark);
    margin: .25rem .5rem;
    transform: scale(1.5);
  }

  /* full opacity overlay for hover supporting devices */
  .project.bg-overlay::after {
    opacity: 1;
  }

  .project:hover::after, 
  .project:focus::after {
    opacity: 0;
  }

  .project {
    transition: var(--transition);
  }

  .project:hover,
  .project:focus {
    border-color: white;
    box-shadow: var(--b-shadow);
  }
  
  /* Description slide-in on hover */
  .project-title {
    z-index: 2;
  }

  .project-description {
    color: var(--dark);
    max-width: 50%;
    position: absolute;
    left: -.125rem; /* to account for the border */
    background: white;
    opacity: 0;
    transform: translateX(-10%);
    transition: var(--transition);
    z-index: 1;
  }

  .project-title, 
  .project-description {
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 0 .5rem .5rem 0;
    transition: var(--transition);
  }
  
  .project:hover .project-description,
  .project:focus .project-description {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project:hover .project-title,
  .project:focus .project-title {
    opacity: 0;
    transform: translateX(-80%);
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::after, *::before {
    transition-duration: 0.01ms;
    animation: none !important;
  }
}
